extends ../layout.pug

block content
    .container
        .row
            table.table.table-hober.table-bordered
                thead
                    tr
                        th 電影分類
                        th 錄入時間
                        th 查看
                        th 更新
                        th 刪除
                tbody
                    each item in categories
                        tr(class="item-id-"+item._id)
                            td #{item.name}
                            td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
                            td: a(href="../movie/"+item._id,target="_blank") 查看
                            td: a(href="../admin/update/"+item._id,target="_blank") 修改
                            td
                                button.btn.btn-danger.del(type="button",data-id=item._id) 刪除
    script(src="../../js/admin.js")

